/* 织梦58（dede58.com）做最好的织梦整站模板下载网站 */
@charset "utf-8";
* {
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
}
body {
	font-family: "微软雅黑", Arial;
	font-size: 12px;
	line-height: 24px;
}
ul {
	list-style: none;
}
img {
	border: none;
}
.clear {
	clear: both;
}
/*
* start top menu
*/
.linob {
	background-image: none !important;
}
.libh a {
	width: 124px;
	font-size: 18px;
	text-align: center;
	background: url(../images/spanLine.jpg) no-repeat right 0;
}
.menu .mainlevel {
	float: left;
	line-height: 51px;
	padding: 0;
	height: 51px;
	display: inline;
	width: 124px;/*IE6 only*/
}
.menu .mainlevel a {
	font-size: 16px;
	text-decoration: none;
	height: 51px;
	line-height: 51px;
	display: block;
	color: white;
	text-align: center;
}
.menu .mainlevel a.navList {
	background: url(../images/spanLine.jpg) no-repeat right 0;
}
.menu .mainlevel a:hover {
	text-decoration: none;
	background-color: #f5f5f5;
	color: #505050;
}
.menu .mainlevel ul {
	display: none;
	position: absolute;
	z-index: 9999;
}
.menu .mainlevel li {
	border-top: 1px solid #fff;
	background-color: #019781;
	width: 124px;/*IE6 only*/
}
.menu .mainlevel li a {
	color: white;
	height: 32px;
	line-height: 32px;
}
.menu .mainlevel li a:hover {
	background-color: #ffac00
}

/**************** end menu **********************/

#top-bg {
	background: url(img/cslg2013_03.png) 0 0 repeat-x;
}
#top {
	height: 120px;
	width: 1024px;
	margin: 0 auto;
	background: url(img/cslg2013_05d.png) right center no-repeat;
}
#top-logo {
	float: left;
}
#top-link {
	float: right;
	background-color: #004271;
	color: #fff;
	position: relative;
}
#top-link a {
	color: #fff;
	text-decoration: none;
	padding: 0 8px;
}
#top-link a:hover {
	text-decoration: underline;
}
#xz-email {
	position: absolute;
	border: solid 1px #191d89;
	left: 65px;
	top: 24px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 4px 15px 8px 15px;
	background-color: #004271;
	display: none;
}
#nav-pic-bg {
	height: 47px;
	background-color: #004271;
}
#index-page #nav-pic-bg {
	height: 369px;
	width: 100%;
	background: url(img/nav-mid-bj.jpg) center top no-repeat;
	min-width: 1024px;
}
#nav {
	width: 1024px;
	height: 47px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}
#nav li {
	float: left;
	position: relative;
}
#nav .nn {
	float: left;
	height: 47px;
	width: 100px;
	text-indent: -999em;
	background: url(img/cslg2013_08ag.png) 0 0 no-repeat;
}
#nav .n1 {
	width: 102px;
	text-indent: 0;
	background-image: url(img/cslg2013-index.png);
}
#nav .n1 img {
	position: absolute;
}
#nav .n2 {
	width: 110px;
}
#nav .n3 {
	background-position: -110px 0;
	width: 106px;
}
#nav .n4 {
	background-position: -216px 0;
	width: 105px;
}
#nav .n5 {
	background-position: -321px 0;
	width: 105px;
}
#nav .n6 {
	background-position: -426px 0;
	width: 112px;
}
#nav .n7 {
	background-position: -538px 0;
	width: 127px;
}
#nav .n8 {
	background-position: -665px 0;
	width: 257px;
	text-indent: 0;
}
#nav .active .nn, #nav .hover .nn {
	background-image: url(img/cslg2013_08bg.png);
}
#index-page #nav li.n8 {
	background-image: url(img/cslg2013_08ag.png);
}
#nav li.n8 {
	background-image: url(img/cslg2013_08c.png);
}
#nav li.n8 .input_text {
	width: 122px;
	height: 24px;
	border: none;
	line-height: 22px;
	float: left;
	display: inline;
	margin: 13px 0 0 85px;
}
#nav li.n8 .input_btn {
	width: 25px;
	height: 25px;
	border: none;
	background: none;
	float: left;
	display: inline;
	margin-top: 12px;
	cursor: pointer;
}
#nav li div {
	position: absolute;
	top: 47px;
	left: 0;
	width: 100px;
	padding: 8px;
	display: none;
	background: rgba(17,71,110,0.85) none repeat scroll 0 0 !important;
	filter: alpha(opacity=85);
	background-color: #11476e;
}
#nav li div a {
	display: block;
	color: #fff;
	line-height: 29px;
	text-decoration: none;
	position: relative;
	background: url(img/cslg2013-icond.png) -35px -4px no-repeat;
	padding-left: 20px;
}
#nav li div a:hover {
	text-decoration: underline;
}
#nav li .org-box {
	width: 1008px;
	height: 306px;
	left: -212px;
}
#index-page #nav li .org-box {
	width: 984px;
	left: -200px;
}
#nav li .org-box dl {
	width: 150px;
	float: left;
}
#nav li .org-box .more-w {
	width: 190px;
}
#nav li .org-box dl dt {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#nav li .org-box a {
	line-height: 24px;
	background-position: -35px -7px;
}
#nav li .res-box {
	width: 140px;
}
#nav li .pub-box {
	width: 150px;
}
.pic-box {
	width: 1024px;
	height: 322px;
	margin: 0 auto;
	position: relative;
}
#index-page .pic-box {
	width: 1000px;
	background: url(img/cslg2013_13.png) 0 0 repeat-x;
}
#focus-show-box {
	float: left;
	width: 1024px;
	height: 322px;
	position: relative;
	overflow: hidden;
}
#focus-box {
	height: 322px;
	position: relative;
}
#focus-box a {
	float: left;
}
#focus-box img {
	width: 1000px;
	height: 322px;
}
#focus-box .dkTitleBg {
	display: none;
}
#focus-left-arr, #focus-right-arr {
	position: absolute;
	left: 4px;
	top: 150px;
	width: 35px;
	height: 35px;
	background: url(img/cslg2013-icond.png) -2px -203px no-repeat;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#focus-right-arr {
	left: 710px;
	background-position: -2px -243px;
}
.inner-nav {
	width: 245px;
	position: absolute;
	right: 0px;
}
.inner-nav .nn {
	background: url(img/cslg2013_12g.png) 0 0 no-repeat;
	display: block;
	text-indent: -999em;
}
.inner-nav .n1 {
	height: 79px;
}
.inner-nav .n2 {
	height: 84px;
	background-position: 0 -79px;
}
.inner-nav .n3 {
	height: 82px;
	background-position: 0 -163px;
}
.inner-nav .n4 {
	height: 77px;
	background-position: 0 -245px;
}
#inner-logo {
	width: 1024px;
	height: 260px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 15px;
}
#inner-logo img {
	width: 1024px;
	height: 260px;
}
#main-wrapper {
	width: 1100px;
	margin: 0 auto;
}
#index-page #main-wrapper {
	background: url(img/cslg2013_17.png) center center repeat-y;
}
#index-page #main-box {
	padding: 0 24px;
}
#main-box .left {
	float: left;
	width: 220px;
	padding-right: 10px;
}
#index-page #main-box .left {
	border-right: solid 1px #c5c5c5;
}
.index-tit {
	height: 37px;
	border-bottom: solid 2px #0065b3;
}
.index-tit a.more {
	float: right;
	width: 42px;
	height: 24px;
	margin-top: 10px;
	background: url(img/cslg2013-icond.png) 0 -125px;
}
.index-tit .tit {
	background: url(img/cslg2013-titg.png) 0 -3px no-repeat;
	float: left;
	width: 120px;
	height: 37px;
}
#notice-show-box {
	height: 255px;
	width: 220px;
	margin-top: 4px;
	overflow: hidden;
	border-bottom: solid 1px #c5c5c5;
	position: relative;
}
#notice-box {
	height: 242px;
	position: relative;
	overflow: hidden;
}
#arr-box {
	height: 20px;
	position: relative;
	top: -10px;
	padding-left: 136px;
}
#arr-box a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #c6c6ce;
	border-right: solid 1px #fff;
	color: #fff;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
}
#arr-box a.active {
	background-color: #0e419c;
}
.notice-list {
	float: left;
	width: 220px;
}
.notice-list li {
	border-bottom: dashed 1px #c5c5c5;
	height: 48px;
	overflow: hidden;
}
.notice-list li span {
	float: left;
	width: 50px;
	height: 37px;
	padding-left: 2px;
	margin-top: 4px;
	background: url(img/cslg2013-icond.png) 0 -40px no-repeat;
	line-height: 37px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}
.notice-list li a {
	color: #4b4b4b;
	text-decoration: none;
}
.notice-list li a:hover {
	text-decoration: underline;
}
.notice-list li a.one-line {
	line-height: 48px;
}
#email-enter {
	display: block;
	width: 219px;
	margin: 0 auto;
}
#main-box .right {
	float: right;
	width: 730px;
}
#main-box .right .rleft {
	float: left;
	width: 490px;
}
.index-tit .news-tit {
	background-position: 0 -83px;
	cursor: pointer;
}
.index-tit .news-tit.active {
	background-position: 0 -43px;
}
.index-tit .media-tit {
	background-position: 0 -163px;
	cursor: pointer;
	width: 150px;
}
.index-tit .media-tit.active {
	background-position: 0 -123px;
}
.index-tit a.xww {
	width: 120px;
	text-decoration: none;
	background-position: 76px -128px;
}
.index-tit a.xww b {
	color: #7f7f7f;
	font-size: 12px;
	font-weight: normal;
	background-color: #F2F2F2;
}
#pic-news-box {
	position: absolute;
	width: 198px;
	height: 149px;
	background: url(img/cslg2013_20.png);
	margin-top: 8px;
	overflow: hidden;
}
#pic-news {
	top: 10px;
	left: 10px;
}
#pic-news div {
	display: none;
}
#pic-news div.dkTitle, #pic-news div.dkTitleBg {
	display: block;
}
.top-news {
	margin-top: 8px;
	height: 158px;
}
.top-news .pic-news {
	float: left;
	width: 198px;
	height: 149px;
	background: url(img/cslg2013_20.png);
}
.top-news .pic-news img {
	width: 178px;
	height: 128px;
	margin: 10px;
}
.top-news .item {
	padding-left: 210px;
}
.top-news .item a {
	color: #004371;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	line-height: 30px;
	display: block;
	height: 30px;
	overflow: hidden;
}
.top-news .item a:hover {
	text-decoration: underline;
}
.top-news .item p {
	height: 48px;
	overflow: hidden;
}
.news-list li {
	height: 30px;
	overflow: hidden;
	border-bottom: dashed 1px #c5c5c5;
	line-height: 28px;
}
.news-list li span {
	float: right;
	color: #4d4d4d;
}
.news-list li a {
	color: #4d4d4d;
	text-decoration: none;
}
.news-list li a:hover {
	color: #ff0000;
}
#main-box .right .rright {
	float: right;
	width: 225px;
}
.index-tit .aa-tit {
	background-position: 0 -203px;
	width: 160px;
}
.aa-list li {
	height: 26px;
	overflow: hidden;
}
.aa-list li a {
	color: #333333;
	text-decoration: none;
	line-height: 28px;
}
.aa-list li a:hover {
	color: #f00;
}
.index-tit .lc-tit {
	background-position: 0 -243px;
	width: 150px;
}
.lc-list {
	margin-top: 4px;
	height: 175px;
	overflow: hidden;
}
.lc-list a {
	display: block;
	width: 220px;
	margin: 0 auto;
	margin-top: 4px;
}
.lc-list a img {
	width: 220px;
	height: 54px;
}
.footer-split {
	border-bottom: solid 1px #c5c5c5;
	padding-top: 10px;
}
#footer {
	color: #818181;
	padding: 5px 0;
}
.footimg {
	float: left;
	width: 700px;
}
#wenxin {
	padding-top: 15px;
}
ul#ft {
	float: left;
	height: 25px;
	width: 100%;
}
ul#ft li {
	float: left;
	width: 125px;
	line-height: 25px;
	display: block;
}
ul#ft li a {
	color: #333;
	font: 14px/25px "????????????", "Microsoft YaHei UI", "??????";
	text-decoration: none;
	padding-left: 25px;
	line-height: 25px;
}
ul#ft li a:hover {
	color: #1066C1;
}
ul#ft .footicon {
	background: url(img/cslg2014_link.png) 0 0 no-repeat;
	width: 120px;
}
ul#ft li .fa {
	background-position: 0 0;
}
ul#ft .fb {
	background-position: 0 -25px;
}
ul#ft .fc {
	background-position: 0 -50px;
}
ul#ft .fd {
	background-position: 0 -75px;
}
#ft li .footext {
	width: 200px;
}
.footlink {
	font-family: "??????", "Microsoft YaHei UI";
	color: #6f6a74;
}
#weixin {
	width: 200px;
	float: right;
	padding-right: 10px;
}
#sec-detail-page #main-box .left {
	width: 210px;
	padding: 0;
	border-top: solid 8px #0490f7;
}
.lm-list {
	background-color: #e2e2e2;
	margin-top: 1px;
	display: none;
}
.lm-list li {
}
.lm-list li a {
	border-bottom: solid 1px #e4e4e4;
	color: #545454;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding-left: 60px;
	line-height: 56px;
	background: url(img/cslg2013-icond.png) 0 -284px no-repeat;
}
.lm-list li.active a, .lm-list li.hover a {
	color: #ffffff;
	background: url(img/cslg2013-icond.png) 0 -344px no-repeat #37659b;
}
.lm-list li dd a {
	border-left: solid 12px #cacaca;
	background-color: #d7d7d7;
}
.lm-list li.active dd a, .lm-list li.hover dd a {
	background: url(img/cslg2013-icond.png) 0 -284px no-repeat;
	color: #545454;
	background-color: #d7d7d7;
}
.lm-list li.hover dd a:hover {
	color: #37659b;
}
.lm-list li dl {
	display: none;
}
#sec-detail-page #main-box .right {
	width: 800px;
	overflow: hidden;
}
.loc-box {
	border-bottom: solid 1px #929292;
	color: #6d6c6c;
	line-height: 30px;
}
.loc-box a {
	color: #6d6c6c;
	text-decoration: none;
}
.loc-box a:hover {
	text-decoration: underline;
	color: #574e4e;
}
.sec-tit {
	font-size: 24px;
	color: #000;
	text-align: center;
	line-height: 30px;
	padding-top: 20px;
	font-family: "Microsoft YaHei UI", "????????????", "??????";
}
.sec-tit-box div {
	padding-top: 12px;
	color: #aaaaaa;
}
.sec-content-box {
	padding: 10px 0;
	overflow: hidden;
	width: 800px;
}
.picList {
	float: left;
}
.picList li {
	float: left;
	width: 260px;
	height: 180px;
}
.picList li a {
	float: left;
	width: 240px;
	height: 180px;
	overflow: hidden;
	line-height: 20px;
	color: #000;
	text-decoration: none;
	text-align: center;
}
.picList li a:hover {
	color: #00F
}
.picList li a img {
	display: block;
	width: 240px;
	height: 140px;
	border: solid 1px #cccccc;
}
.xrld-list li {
	width: 160px;
	height: 220px;
}
.xrld-list li a {
	width: 124px;
	height: 220px;
	line-height: 20px;
}
.xrld-list li a img {
	width: 120px;
	height: 167px;
}
.picList .xrld {
	width: 600px;
}
.picList .xrld a {
	width: 132px;
}
.pageChanger {
	margin-top: 15px;
	text-align: center;
	border: solid 1px #e4e4e4;
	background-color: #f7f7f7;
	line-height: 30px;
}
.pageChanger a {
	color: #333;
	text-decoration: none;
}
.pageChanger a:hover {
	color: #f00;
	text-decoration: underline;
}
.pageChanger input {
	width: 24px;
}
.sec-tit-box .ditu span {
	padding: 0 10px;
	cursor: pointer;
	color: #c5c5c5;
}
.sec-tit-box .ditu span a {
	color: #c5c5c5;
	text-decoration: none;
}
.sec-tit-box .ditu span a:hover {
	text-decoration: underline;
}
.sec-tit-box .ditu span.active, .sec-tit-box .ditu span.active {
	color: #008dff;
}
#bd-box {
	padding-left: 10px;
}
#bd-box p {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}
#bd-box iframe {
	margin: 10px auto;
}
#cata-page .lm-list {
	display: block;
}
#cata-page #main-box .left {
	width: 210px;
	background: url(img/cslg2013-cata_04.png) right top no-repeat;
	min-height: 480px;
}
#cata-page #main-box .right {
	width: 800px;
}
#cata-page .cleft {
	float: left;
	width: 600px;
}
#cata-page .cright {
	float: right;
	width: 190px;
}
#cata-page .right a {
	font-size: 14px;
	color: #121586;
	line-height: 30px;
	text-decoration: none;
	padding-right: 20px;
	display: inline-block;
}
#cata-page .right a:hover {
	text-decoration: underline;
}
#cata-page #main-wrapper {
	width: 1040px;
	background: url(img/cslg2013-cata_03.png) 0 0 repeat-y;
	padding-top: 8px;
}
#cata-page #main-wrapper #main-box {
	padding: 0 8px;
}
#cata-page #inner-logo {
	margin: 0 auto;
}
.cata-tit {
	font-size: 20px;
	line-height: 37px;
	color: #666666;
	font-weight: normal;
	border-bottom: solid 1px #b9b9b9;
}
.cata-tit b {
	float: left;
	width: 4px;
	height: 17px;
	background-color: #49933b;
	margin: 11px 8px 0 0;
}
#cata-page .footer-split {
	margin: 0 8px;
}
#cata-page #footer {
	background-color: #fff;
	padding-left: 4px;
}
#cata-page .lm-list {
	background-color: #eeeeee;
}
#cata-page .link-box {
	padding: 15px;
	padding-right: 0;
}
#cata-page .cright .link-box {
	padding-left: 0;
}
#cata-page .cata-box {
	display: none;
}
/*????????????*/
.secList {
	height: 530px;
}
.secList li {
	background: url(img/uumq_icon.jpg) 0 -560px no-repeat;
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 14px;
}
.secList span {
	float: right;
	color: #6d6d6d;
}
.secList a {
	color: #2c2c2c;
	text-decoration: none;
}
.secList a:hover {
	text-decoration: underline;
}
.tit-title {
	font-size: 20px;
	color: #05498b;
	line-height: 26px;
	padding: 20px 0 15px 0;
	text-align: center;
	border-bottom: dashed 1px #b3b3b3;
}
.tit-attr {
	width: 450px;
	margin: 0 auto;
	text-align: center;
	color: #696969;
	padding-top: 8px;
	height: 40px;
}
.tit-attr span {
	padding: 0 4px;
}
.tit-attr .jiathis_style {
	float: right;
	padding-top: 4px;
}
.picMarquee-left {
	/*width: 972px;*/
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
}
.picMarquee-left .bd {
	padding: 5px;
}
.picMarquee-left .bd ul {
	overflow: hidden;
	zoom: 1;
}
.picMarquee-left .bd ul li {
	margin: 0 8px;
	float: left;
	_display: inline;
	overflow: hidden;
	text-align: center;
}
.picMarquee-left .bd ul li .pic {
	text-align: center;
}
.picMarquee-left .bd ul li .pic img {
	width: 225px;
	height: 145px;
	display: block;
	padding: 2px;
	border: 1px solid #ccc;
}
.picMarquee-left .bd ul li .pic a:hover img {
	border-color: #999;
}
.picMarquee-left .bd ul li .pic a {
	height: 155px;
}
.picMarquee-left .bd ul li .title {
	line-height: 24px;
	padding: 0;
	background-image: none;
}
/*????????????*/
.qqserver p img {
	display: inline;
	margin: -5px 5px 0 0;
	vertical-align: middle;
}
.scrollsidebar {
	position: absolute;
	z-index: 999;
	top: 220px;
}
.side_content {
	width: 167px;
	height: auto;
	overflow: hidden;
	float: left;
}
.side_content .side_list {
	width: 167px;
	overflow: hidden;
}
.show_btn {
	width: 0;
	height: 144px;
	overflow: hidden;
	margin-top: 50px;
	float: left;
	cursor: pointer;
}
.show_btn span {
	display: none;
}
.close_btn {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.side_title, .side_bottom, .close_btn, .show_btn {
	background: url(img/sidebar_bg.png) no-repeat;
	_background: url(../images/sidebar_bg.gif) no-repeat;
}
.side_title {
	height: 46px;
}
.side_title {
	height: 46px;
}
.side_bottom {
	height: 8px;
}
.side_center {
	font-family: Verdana, Geneva, sans-serif;
	padding: 10px 12px 5px 12px;
	font-size: 12px;
}
.close_btn {
	float: right;
	display: block;
	width: 19px;
	height: 19px;
	margin: 16px 7px 0 0;
	_margin: 16px 3px 0 0;
}
.close_btn span {
	display: none;
}
.side_center .qqserver p {
	text-align: left;
	padding: 6px 0;
	margin: 0;
	vertical-align: middle;
}
.phoneserver {
	font-size: 14px;
	text-align: center;
}
.phoneserver p {
	padding: 2px 0;
	_height: 16px;
	margin: 0;
	color: #666666;
}
.msgserver {
	border-top: 1px dotted #ccc;
	text-align: center;
	margin-top: 6px;
	padding: 10px 0 3px 0;
}
.msgserver a {
	background: url(../images/sidebar_bg.gif) no-repeat -119px -154px;
	padding: 3px 0 3px 23px;
}
.side_content hr {
	border-bottom: 1px solid #E6E6E6;
	height: 1px;
	margin: 10px 0;
	clear: both;
}
/* green skin  */
.side_green .side_title {
	background-position: -505px 0;
}
.side_green .side_center {
	background: url(img/green_line.gif) repeat-y center;
}
.side_green .side_bottom {
	background-position: -505px -60px;
}
.side_green .close_btn {
	background-position: -44px -45px;
}
.side_green .close_btn:hover {
	background-position: -65px -45px;
}
.side_green .show_btn {
	background-position: -187px 0;
}
.side_green .msgserver a {
	color: #68c40b;
}
.side_green hr {
	border-bottom: 1px solid #edf2e5;
}
.pagelink {
	height: 26px;
	width: 350px;
	line-height: 26px;
	margin: 20px auto 0 auto;
	padding: 20px 10px;
	TEXT-ALIGN: center
}
.pagelink li {
	float: left;
	margin-right: 3px;
	list-style-type: none;
	border: solid 1px;
}
.pagelink a, .pagelink span {
	padding: 0 3px;
}
.pagelink .thisclass {
	padding: -5px auto 3px;
	color: #F00;
	border: solid 1px #FF0000;
}
.pagelink .thisclass a {
	padding: -5px auto 3px;
	color: #F00;
	;
}
.pagelink a.on, .pagelink a:hover {
	color: #F9003B;
}
